@import "../../../../styles/variables.scss";

.portfolio-modal {
    padding: 50px 20px;
    background-color: $bg-primary;
    border-radius: $border-radius;
    .ant-modal-content{ 
        background: $background-color-1;
        box-shadow: $shadow-1;
        padding: 45px;
        max-width: 1200px;
        margin: auto;
        // height: calc(100% - 50px);
        .ant-modal-close-icon {
            padding: 15px;
            border-radius: 50%;
            box-shadow: $shadow-1;
            svg {

                fill: red;
            }
        }
    }
}
