@font-face {
    font-family: 'Catamaran-Light';
    src: url(font/Catamaran-ExtraLight.ttf);
}
@font-face {
    font-family: 'Catamaran-Regular';
    src: url(font/Catamaran-Regular.ttf);
}
@font-face {
    font-family: 'Poppins-Light';
    src: url(font/Poppins-Light.ttf);
}
@font-face {
    font-family: 'Poppins-Regular';
    src: url(font/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'Montserrat-Light';
    src: url(font/Montserrat-Light.ttf);
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url(font/Montserrat-Bold.ttf);
}
