$bg-primary: #212328;

$paragraph: #c4cfde;

$paragraph-hover: #ff014f;

$card-box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;

$section-header-paragraph: #f9004d;

$section-header-title: #c4cfde;

$tab-color: $paragraph;
$active-tab-color: $paragraph-hover;

$active-tab-box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;



$color-primary: #f9004d;
$background-color-1: linear-gradient(145deg, #1e2024, #23272b);
$shadow-1: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
$transition:  0.4s;
$color-primary-gradient-from: #6a67ce;
$color-primary-gradient-to:#fc636b;
$color-body: #878e99;
$color-heading: #c4cfde;
$olor-lightn: #c4cfde;
$line-height-b1: 1.9;
$p-regular: 400;
$inner-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
$color-light: #E4E6EA;
$s-bold: 700;
$color-lightn: #c4cfde;

$font-secondary :"Montserrat", sans-serif;


$border-radius: 10px;