$bg-primary: #212328;

$paragraph: #c4cfde;

$paragraph-hover: #ff014f;

$card-box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;

$section-header-paragraph: #f9004d;

$section-header-title: #c4cfde;

$tab-color: $paragraph;
$active-tab-color: $paragraph-hover;

$active-tab-box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;



$color-primary: #f9004d;
$background-color-1: linear-gradient(145deg, #1e2024, #23272b);
$shadow-1: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
$transition:  0.4s;
$color-primary-gradient-from: #6a67ce;
$color-primary-gradient-to:#fc636b;

