@import "../../styles/mixin.scss";
@import "../../styles/variables.scss";
@import "../../styles/fonts.scss";


#home {
    @include container;
    // display: flex;
    // transition: all 1s ease-in-out;
    // transform: translateY(100%) scale(0);
    // justify-content: center;
    // align-items: center;
    // overflow: hidden;
    .fade {
      @include rightFade;
    }
    .home-text {
      @include headerStyle;
    }
  
  }

  @media only screen and (max-width: 600px) {
    #home {
          bottom: -12%;
          .home-text {
            @include headerStyle;
          }
          .bright-shade-1 {
            position: absolute;
            top: 30%;
            right: 20%;
            width: 29rem;
            height: auto;
            object-fit: cover;
          }
          .bright-shade-2 {
            display: none;
          }
          .moon {
            position: absolute;
            top: 30.5%;
            right: 30.5%;
            width: 54rem;
            height: auto;
            object-fit: cover;
          }
          .portfolio {
            position: absolute;
            top: 42%;
            right: 35%;
            width: 46rem;
            height: auto;
            object-fit: cover;
            animation-timing-function: ease;
          }
          .dark-shade-1 {
            position: absolute;
            top: 49%;
            right: 22%;
            width: 25rem;
            height: auto;
            object-fit: cover;
          }
          .dark-shade-2 {
            position: absolute;
            top: 47%;
            right: 61%;
            width: 30rem;
            height: auto;
            object-fit: cover;
          }
          .dark-shade-3 {
            display: none;
          }
  
        }
    }