@import "./styles/variables.scss";
@import "./styles/fonts.scss";
@import "./styles/classes.scss";

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: $background-color-2;
}

html {
    font-size: 10px;
    // scroll-behavior: smooth;
  }

  // .routes-wrapper {
  //   position: fixed;
  //   z-index: 333333333333333333333333;
  //   top: 50%;
  //   left: 10vw;
  //   transform: translateY(-50%);
  // }