body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

html {
    font-size: 10px;
  }

  .routes-wrapper {
    position: fixed;
    z-index: 333333333333333333333333;
    top: 50%;
    left: 10vw;
    transform: translateY(-50%);
  }